# ROS 2 build artifacts
build/
install/
log/

# Python caching
__pycache__/
*.py[cod]
*$py.class

# Logs and temporary files
*.log
pose_graph.g2o

# Data files (Large bag files and databases)
src/li_slam_ros2/data/
*.bag
*.db3
*.db3-journal

# IDEs
.vscode/

# OS specific files
.DS_Store
Thumbs.db
